<div class="container fade-in">
  <div class="header">
    <div class="left-section">
      <button
        [matMenuTriggerFor]="produkteListMenu"
        class="custom-menu menue-btn"
        aria-label="Optionen"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #produkteListMenu="matMenu" class="option-menu option-menu-wide">
        <button
          *ngFor="let item of listMenuItems"
          mat-menu-item
          (click)="onMenuAction(item.action)"
        >
          <i class="mdi {{ item.icon }} menu-item-icon"></i>
          <span class="menu-item-label">{{ item.label }}</span>
        </button>
      </mat-menu>
      <button
        mat-raised-button
        class="neu-button"
        (click)="addProduct()"
        aria-label="Neues Produkt anlegen"
        matTooltip="Neues Produkt anlegen"
        matTooltipPosition="below"
      >
        <i class="mdi mdi-cards-outline mdi-24px btn-icon" aria-hidden="true"></i>
        <span class="btn-label">Neu</span>
      </button>
    </div>

    <div class="center-section">
      <span class="title">Produkte</span>
    </div>

    <div class="right-section">
      <div class="checkbox-container">
        <mat-checkbox
          class="inkle-inactive"
          [(ngModel)]="showInactive"
          (change)="onCheckboxChange()"
        >
          <span class="inkl">inkl. inaktive</span>
        </mat-checkbox>
      </div>

      <div class="search-container">
        <input
          type="text"
          placeholder="Suche"
          [(ngModel)]="searchTerm"
          (input)="filterData()"
          class="search-input"
        />
        <mat-icon class="search-icon">search</mat-icon>
      </div>
    </div>
  </div>


  <div class="table-container">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      class="mat-elevation-z8 fixed-table"
      *ngIf="dataSource.data.length"
    >
      <!-- KURZNAME -->
      <ng-container matColumnDef="kurzName">
        <th mat-header-cell *matHeaderCellDef class="col-kurzname">
          <div class="sort-header" (click)="toggleSort('kurzName')">
            Kurzname
            <mat-icon class="sort-arrow">
              {{ sortState['kurzName'] === 'asc' ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
            </mat-icon>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="col-kurzname">
          {{ element.kurzName || "-" }}
        </td>
      </ng-container>

      <!-- PRODUKTNAME -->
      <ng-container matColumnDef="produktname">
        <th mat-header-cell *matHeaderCellDef class="col-produktname">
          <div class="sort-header" (click)="toggleSort('produktname')">
            Produktname
            <mat-icon class="sort-arrow">
              {{ sortState['produktname'] === 'asc' ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
            </mat-icon>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="col-produktname">
          {{ element.produktname || "-" }}
        </td>
      </ng-container>

      <!-- START -->
      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef class="col-date">
          <div class="sort-header" (click)="toggleSort('start')">
            Start
            <mat-icon class="sort-arrow">
              {{ sortState['start'] === 'asc' ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
            </mat-icon>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="col-date">
          {{ element.start | date : "dd.MM.yyyy" }}
        </td>
      </ng-container>

      <!-- ENDE -->
      <ng-container matColumnDef="ende">
        <th mat-header-cell *matHeaderCellDef class="col-date">
          <div class="sort-header" (click)="toggleSort('ende')">
            Ende
            <mat-icon class="sort-arrow">
              {{ sortState['ende'] === 'asc' ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
            </mat-icon>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="col-date">
          {{ element.ende | date : "dd.MM.yyyy" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [class.inactive-row]="!row.aktiv"
        [class.active-row]="row.aktiv"
        [class.selected-row]="selectedRowId === row.id"
        [attr.data-row-id]="row.id"
        (click)="selectRow(row)"
        (dblclick)="goToDetails(row)"
        class="list-row"
      ></tr>
    </table>
  </div>
</div>
