<div class="container fade-in">
  <div class="header">
    <div class="left-section">
      <mat-icon class="menue">menu</mat-icon>
      <!-- <button mat-raised-button class="neu-button" >
        <mat-icon>widgets</mat-icon>
        Neu
      </button> -->
    </div>
    <div class="center-section">
      <span class="title">Stempelzeit</span>
    </div>
    <div class="right-section">
      <div class="checkbox-container">
        <mat-checkbox
          class="inkle-inactive"
          [(ngModel)]="showInactive"
          (change)="onCheckboxChange()"
        >
          inkl. inaktive
        </mat-checkbox>
      </div>
      <div class="search-container">
        <input
          type="text"
          placeholder="Suche"
          [(ngModel)]="searchTerm"
          (input)="filterdata()"
          class="search-input"
        />
        <mat-icon class="search-icon">search</mat-icon>
      </div>
    </div>
  </div>
  <div *ngIf="errorMessage && !isLoading" class="error-container">
    <mat-icon>error_outline</mat-icon>
    <span>{{ errorMessage }}</span>
  </div>
  <div class="table-container" *ngIf="!isLoading && !errorMessage">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      *ngIf="dataSource?.data?.length">

      <ng-container matColumnDef="icon"  >
        <th mat-header-cell *matHeaderCellDef  class="first-column"></th>
        <td mat-cell *matCellDef="let element"  class="first-column" >
          <i class="mdi mdi-18px check-icon"
             [ngClass]="element.aktiv ? 'mdi-check' : 'mdi-close'"
             [matTooltip]="getStatusTooltipText(element)"
             [class.is-active]="element.aktiv"
             [class.is-inactive]="!element.aktiv"
             matTooltipPosition="above"
             matTooltipShowDelay="50">
          </i>

        </td>
      </ng-container>




      <ng-container matColumnDef="nachname">

        <th mat-header-cell *matHeaderCellDef >
          <div class="sort-header" (click)="toggleSort('nachname')">
            Familienname
            <mat-icon class="sort-arrow">{{ getSortIcon('nachname') }}</mat-icon>
          </div>
        </th>


        <td mat-cell *matCellDef="let element"
            [class.is-active]="element.aktiv"
            [class.is-inactive]="!element.aktiv">{{ element.nachname || "" }}</td>
      </ng-container>

      <ng-container matColumnDef="vorname">
        <th mat-header-cell *matHeaderCellDef >
          <div class="sort-header" (click)="toggleSort('vorname')">
            Vorname


            <mat-icon class="sort-arrow">{{ getSortIcon('vorname') }}</mat-icon>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"
            [class.is-active]="element.aktiv"
            [class.is-inactive]="!element.aktiv"
        >{{ element.vorname || "" }}</td>
      </ng-container>

      <ng-container matColumnDef="mitarbeiterart">
        <th mat-header-cell *matHeaderCellDef >
          <div class="sort-header" (click)="toggleSort('mitarbeiterart')">
            Mitarbeiterart

            <mat-icon class="sort-arrow">{{getSortIcon('mitarbeiterart')}}</mat-icon>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"
            [class.is-active]="element.aktiv"
            [class.is-inactive]="!element.aktiv">{{ EnumService.transformMitarbeiterArt(element.mitarbeiterart) || "" }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns "
        [class]="getRowClass(row)"
        (click)="goToDetails(row)"
        class="list-row"
      ></tr>
    </table>
    <div *ngIf="!dataSource?.data?.length && !isLoading" class="empty-state">
      <mat-icon>info_outline</mat-icon>
      <span>Keine Daten gefunden</span>
    </div>
  </div>
</div>
