<!-- ======================= Product Edit Form ======================= -->
<div class="main-container">
  <!-- Top Section: Product Form -->
  <div class="form-container">
    <div class="form-header">
      <div class="form-toolbar">
        <div class="flex-gap">
          <button type="button" class="cancel-btn" (click)="onCancel()">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <button
            *ngIf="isFormEditable"
            type="button"
            mat-button
            class="cancel-btn cancel-btn-top"
            (click)="onCancel()"
            [disabled]="saving"
          >
            <mat-icon>close</mat-icon>
            Abbrechen
          </button>
          <button
            [matMenuTriggerFor]="produktMenu"
            class="custom-menu menu-icon-right-top"
            *ngIf="!isFormEditable"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #produktMenu="matMenu" class="option-menu option-menu-wide">
            <button
              *ngFor="let item of produktMenuItems"
              mat-menu-item
              (click)="onMenuAction(item.action)"
            >
              <i class="mdi {{ item.icon }} menu-item-icon"></i>
              <span class="menu-item-label">{{ item.label }}</span>
            </button>
          </mat-menu>
        </div>
        <h2 class="form-title">Produkt</h2>
        <div>
          <button
            type="button"
            mat-raised-button
            class="save-btn"
            (click)="onEditOrSubmit()"
            [disabled]="saving"
          >
            <mat-icon *ngIf="isFormEditable">check</mat-icon>
            <i *ngIf="!isFormEditable" class="mdi mdi-lead-pencil"></i>
            {{ isFormEditable ? "Speichern" : "Bearbeiten" }}
          </button>
        </div>
      </div>
    </div>

    <div class="form-content" *ngIf="!loading">
      <form [formGroup]="produktForm">
        <div class="form-grid-container">
          <!-- First Column -->
          <div class="form-column">
            <div class="field-row">
              <mat-label class="field-label">Produktname</mat-label>
              <mat-form-field
                appearance="outline"
                class="flex-field"
                [ngClass]="{ 'buchungspunkt-invalid': produktForm.get('produktname')?.invalid && produktForm.get('produktname')?.touched }"
              >
                <input
                  matInput
                  formControlName="produktname"
                  class="input-focus  border"
                  maxlength="30"
                />
              </mat-form-field>
            </div>
            <div class="field-row">
              <mat-label class="field-label">Kurzname</mat-label>
              <mat-form-field
                appearance="outline"
                class="flex-field"
                [ngClass]="{ 'buchungspunkt-invalid': produktForm.get('kurzName')?.invalid && produktForm.get('kurzName')?.touched }"
              >
                <input matInput formControlName="kurzName" maxlength="30" class="input border" />
              </mat-form-field>
            </div>
            <div class="field-row">
              <mat-label class="field-label">Produkttyp</mat-label>
              <mat-form-field
                appearance="outline"
                class="flex-field"
                [ngClass]="{ 'buchungspunkt-invalid': produktForm.get('produktTyp')?.invalid && produktForm.get('produktTyp')?.touched }"
              >
                <mat-select formControlName="produktTyp"  panelClass="drop-down">
                  <mat-option value="Anwendung">Anwendung</mat-option>
                  <mat-option value="Administration">Administration</mat-option>
                  <mat-option value="zentrale Komponente">zentrale Komponente</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="field-row">
              <mat-label class="field-label">Auftraggeber</mat-label>
              <mat-form-field
                appearance="outline"
                class="flex-field"
                [ngClass]="{ 'buchungspunkt-invalid': produktForm.get('auftraggeber')?.invalid && produktForm.get('auftraggeber')?.touched }"
              >
                <mat-select formControlName="auftraggeber" panelClass="drop-down">
                  <mat-option *ngFor="let a of auftraggeberOptions" [value]="a">{{ a }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="field-row">
              <mat-label class="field-label"
                >Ergebnisverantwortlicher</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="flex-field"
                [ngClass]="{ 'buchungspunkt-invalid': produktForm.get('ergebnisverantwortlicher')?.invalid && produktForm.get('ergebnisverantwortlicher')?.touched }"
              >
                <mat-select formControlName="ergebnisverantwortlicher" panelClass="drop-down">
                  <mat-option
                    *ngFor="let person of ergebnisverantwortlicherOptions"
                    [value]="person"
                  >
                    {{ person }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <!-- Second Column -->
          <div class="form-column">
            <div class="field-row checkbox-row checkbox-row2">
              <span class="checkbox-text">Aktiv</span>
              <mat-checkbox formControlName="aktiv"></mat-checkbox>
            </div>

            <div class="field-row double-input">
              <div class="date-pair-container">
                <mat-label class="field-label start-date">Start/End</mat-label>
                <mat-form-field
                  appearance="outline"
                  class="flex-field"
                  [ngClass]="{ 'buchungspunkt-invalid': produktForm.get('start')?.invalid && produktForm.get('start')?.touched }"
                >
                  <input
                    matInput
                    appGermanDateInput
                    [matDatepicker]="startPicker"
                    formControlName="start"
                    placeholder="TT.MM.JJJJ"
                    class="start-input border"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="startPicker"
                    class="start-icon start-icon-top"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #startPicker></mat-datepicker>
                </mat-form-field>
                <mat-label class="field-label bis-date">Bis</mat-label>
                <mat-form-field
                  appearance="outline"
                  class="flex-field"
                  [ngClass]="{ 'buchungspunkt-invalid': produktForm.get('ende')?.invalid && produktForm.get('ende')?.touched }"
                >
                  <input
                    matInput
                    appGermanDateInput
                    formControlName="ende"
                    [matDatepicker]="endPicker"
                    placeholder="TT.MM.JJJJ"
                    class="end-input border"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="endPicker"
                    class="start-icon-end start-icon-top"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #endPicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <div class="field-row">
              <mat-label class="field-label organ-label">Organisationseinheit</mat-label>
              <mat-form-field
                appearance="outline"
                class="flex-field organ-isation-field"
                [ngClass]="{ 'buchungspunkt-invalid': produktForm.get('auftraggeberOrganisation')?.invalid && produktForm.get('auftraggeberOrganisation')?.touched }"
              >
                <input
                  matInput
                  formControlName="auftraggeberOrganisation"
                  class="organ-width border"
                  maxlength="30"
                />
              </mat-form-field>
            </div>
            <div class="field-row">
              <mat-label class="field-label organ-label">Anmerkung</mat-label>
              <mat-form-field
                appearance="outline"
                class="flex-field anmerk-isation-field"
              >
                <input
                  matInput
                  formControlName="anmerkung"
                  class="anmer-width border"
                  maxlength="30"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Bottom Section: Product Positions and Details -->
  <div class="details-panes-container">
    <!-- Left: Product Positions Tree -->
    <div class="produktpositionen-container">
      <div class="positionen-header">
        <span class="header-title">Produktpositionen</span>
        <button
          type="button"
          class="add-buchungspunkt-btn"
          matTooltip="Produktposition hinzufügen"
          (click)="startCreateProduktposition()"
        >
          <i class="mdi mdi-map-marker-plus"></i>
        </button>
      </div>
      <div class="positionen-list scrollable-container">
        <ng-container
          *ngTemplateOutlet="
            renderNode;
            context: { $implicit: produktpositionen, level: 1 }
          "
        ></ng-container>

        <ng-template #renderNode let-nodes let-level="level">
          <div *ngFor="let node of nodes">
            <!-- HTML Change -->
            <!-- ======================= FIXED CODE ======================= -->
            <div
              class="position-item"
              [style.padding-left.px]="10 + (level - 1) * 40"
              (click)="selectPosition(node)"
              (dblclick)="node.isExpanded = !node.isExpanded"
              [ngClass]="{ 'selected-item': node === selectedPosition }"
            >
              <mat-icon
                *ngIf="level === 1"
                class="position-icon"
                [ngClass]="node.status"
              >
                location_on
              </mat-icon>
              <i
                *ngIf="level === 2"
                class="mdi mdi-label position-icon"
                [ngClass]="node.status"
              ></i>

              <div class="position-info">
                <div class="position-title">{{ node.name }}</div>
                <div class="position-dates" *ngIf="node.start && node.ende">
                  <i class="mdi mdi-file-tree inline-icon"></i>
                  Start: <strong>{{ node.start | date: "dd.MM.yyyy" }}</strong>
                  Ende: <strong>{{ node.ende | date: "dd.MM.yyyy" }}</strong>
                </div>
              </div>

              <button
                *ngIf="level === 1"
                type="button"
                class="add-buchungspunkt-btn"
                matTooltip="Buchungspunkt hinzufügen"
                (click)="startCreateBuchungspunkt(node); $event.stopPropagation()"
              >
                <i class="mdi mdi-shape-circle-plus mdi-flip-v"></i>
              </button>
            </div>

            <div *ngIf="node.isExpanded && node.children?.length">
              <ng-container
                *ngTemplateOutlet="
                  renderNode;
                  context: { $implicit: node.children, level: level + 1 }
                "
              ></ng-container>
            </div>
          </div>
        </ng-template>
      </div>
    </div>

    <!-- Right: Selected Position Details -->

    <div class="position-details-container" *ngIf="selectedPosition">
      <div class="position-details-header">
        <mat-toolbar color="primary" class="header-container">
          <!-- ----------------header left------------------------ -->
          <div class="header-left">
            <!-- Show delete only when the selected row has no children, and only in view mode -->
            <button
              *ngIf="selectedPosition?.id
                && !selectedPosition?.children?.length
                && !isPositionFormEditable
                && !isChildFormEditable"
              (click)="openDeleteDialog()"
              class="header-btn btn-loeschen"
            >
              <mat-icon>delete</mat-icon>
              <span>Löschen</span>
            </button>
            <button
              *ngIf="selectedPosition?.typ === 'Produktposition' && !isPositionFormEditable"
              [matMenuTriggerFor]="positionMenu"
              class="custom-menu menu-icon-left"
            >
              <mat-icon>menu</mat-icon>
            </button>
            <button
              *ngIf="selectedPosition?.typ !== 'Produktposition' && !isChildFormEditable"
              [matMenuTriggerFor]="buchungspunktMenu"
              class="custom-menu menu-icon-left"
            >
              <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #positionMenu="matMenu" class="option-menu">
              <button
                *ngFor="let item of positionMenuItems"
                mat-menu-item
                (click)="onMenuAction(item.action)"
              >
                <i class="mdi {{ item.icon }} menu-item-icon"></i>
                <span class="menu-item-label">{{ item.label }}</span>
              </button>
            </mat-menu>
            <mat-menu #buchungspunktMenu="matMenu" class="option-menu">
              <button
                *ngFor="let item of buchungspunktMenuItems"
                mat-menu-item
                (click)="onMenuAction(item.action)"
              >
                <i class="mdi {{ item.icon }} menu-item-icon"></i>
                <span class="menu-item-label">{{ item.label }}</span>
              </button>
            </mat-menu>
            <button
              *ngIf="
                selectedPosition?.typ === 'Produktposition'
                  ? isPositionFormEditable
                  : isChildFormEditable
              "
              type="button"
              mat-button
              class="cancel-btn-bottom "
              (click)="onCancelPositionOrChild()"
            >
              <mat-icon>close</mat-icon>
              Abbrechen
            </button>
          </div>
          <!-- -------------------header center----------------------- -->
          <div class="header-center">
            <span
              class="title"
              *ngIf="selectedPosition?.typ == 'Produktposition'"
              >Produkteposition</span
            >
            <span
              class="title"
              *ngIf="selectedPosition?.typ !== 'Produktposition'"
              >Buchungsapunkt</span
            >
          </div>
          <!-- ----------------header right-------------------------- -->
          <div class="header-right">
            <button
              (click)="onEditOrSubmitPositionOrChild()"
              class="menu-icon-right"
            >
              <mat-icon
                *ngIf="(selectedPosition?.typ === 'Produktposition' ? isPositionFormEditable : isChildFormEditable)"
              >check</mat-icon>
              <i
                *ngIf="!(selectedPosition?.typ === 'Produktposition' ? isPositionFormEditable : isChildFormEditable)"
                class="mdi mdi-lead-pencil"
              ></i>

              <span>
                {{
                  selectedPosition?.typ === "Produktposition"
                    ? isPositionFormEditable
                      ? "Speichern"
                      : "Bearbeiten"
                    : isChildFormEditable
                      ? "Speichern"
                      : "Bearbeiten"
                }}
              </span>
            </button>
          </div>
        </mat-toolbar>
      </div>
      <!-- ======================= Form for Parent Row ======================= -->
      <div
        class="position-details-content position-details-container parent-container"
        *ngIf="selectedPosition?.typ === 'Produktposition'"
      >
        <mat-card>
          <mat-card-content>
            <form [formGroup]="positionDetailForm" class="vertical-form">
              <!-- First Line - Aktiv Checkbox -->
              <div class="field-row checkbox-row-margin-level1 bottom-aktiv-checkbox">
                <span class="checkbox-text">Aktiv</span>
                <mat-checkbox formControlName="aktiv"></mat-checkbox>
              </div>

              <!-- Second Line - Produktposition Input -->
              <div class="form-row">
                <mat-label class="field-label">Produktposition</mat-label>
                <mat-form-field
                  appearance="outline"
                  class="form-field"
                  [ngClass]="{ 'buchungspunkt-invalid': positionDetailForm.get('produktPositionname')?.invalid && positionDetailForm.get('produktPositionname')?.touched }"
                >
                  <input matInput formControlName="produktPositionname" maxlength="30" class="border" />
                </mat-form-field>
              </div>

              <!-- Third Line - Positionstyp Dropdown -->
              <div class="form-row">
                <mat-label class="field-label">Positionstyp</mat-label>
                <mat-form-field
                  appearance="outline"
                  class="form-field"
                  [ngClass]="{ 'buchungspunkt-invalid': positionDetailForm.get('produktPositionTyp')?.invalid && positionDetailForm.get('produktPositionTyp')?.touched }"
                >
                  <mat-select formControlName="produktPositionTyp" panelClass="drop-down">
                    <mat-option value="Projekt">Projekt</mat-option>
                    <mat-option value="Kleinprojekt">Kleinprojekt</mat-option>
                    <mat-option value="Change Request">Change Request</mat-option>
                    <mat-option value="Wartung">Wartung</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- Fourth Line - Auftraggeber Input -->
              <div class="form-row">
                <mat-label class="field-label">Auftraggeber</mat-label>
                <mat-form-field
                  appearance="outline"
                  class="form-field"
                  [ngClass]="{ 'buchungspunkt-invalid': positionDetailForm.get('auftraggeber')?.invalid && positionDetailForm.get('auftraggeber')?.touched }"
                >
                  <input matInput formControlName="auftraggeber" maxlength="30" class="border" />
                </mat-form-field>
              </div>

              <!-- Fifth Line - Durchf.-verantwortlicher Dropdown -->
              <div class="form-row">
                <mat-label class="field-label durchf-label">Durchf.-verantwortlicher</mat-label>
                <mat-form-field
                  appearance="outline"
                  class="form-field"
                  [ngClass]="{ 'buchungspunkt-invalid': positionDetailForm.get('durchfuehrungsverantwortlicher')?.invalid && positionDetailForm.get('durchfuehrungsverantwortlicher')?.touched }"
                >
                  <mat-select formControlName="durchfuehrungsverantwortlicher" panelClass="drop-down">
                    <mat-option
                      *ngFor="let person of verantwortlicherOptions"
                      [value]="person"
                    >
                      {{ person }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- Sixth Line - Service Manager Dropdown -->
              <div class="form-row">
                <mat-label class="field-label">Service Manager</mat-label>
                <mat-form-field appearance="outline" class="form-field">
                  <mat-select formControlName="servicemanager" panelClass="drop-down">
                    <mat-option
                      *ngFor="let org of servicemanagerOptions"
                      [value]="org"
                    >
                      {{ org }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- Seventh Line - Start/End Datepickers -->
              <div class="form-row double-input">
                <div class="date-pair-container">
                  <mat-label class="field-label">Start/End</mat-label>
                  <mat-form-field
                    appearance="outline"
                    class="form-field form-field-bottom"
                    [ngClass]="{ 'buchungspunkt-invalid': positionDetailForm.get('start')?.invalid && positionDetailForm.get('start')?.touched }"
                  >
                    <input
                      matInput
                      appGermanDateInput
                      [matDatepicker]="positionStartPicker"
                      formControlName="start"
                      placeholder="TT.MM.JJJJ"
                      class="bottom-start-input border"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="positionStartPicker"
                      class="start-icon"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #positionStartPicker></mat-datepicker>
                  </mat-form-field>

                  <mat-label class="field-label bis-date">Bis</mat-label>
                  <mat-form-field
                    appearance="outline"
                    class="form-field form-field-bottom"
                  >
                    <input
                      matInput
                      appGermanDateInput
                      [matDatepicker]="positionEndPicker"
                      formControlName="ende"
                      placeholder="TT.MM.JJJJ"
                      class="bottom-end-input border"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="positionEndPicker"
                      class="start-icon"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #positionEndPicker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <!-- Eighth Line - Organisationseinheit Input -->
              <div class="form-row">
                <mat-label class="field-label">Organisationseinheit</mat-label>
                <mat-form-field
                  appearance="outline"
                  class="form-field"
                  [ngClass]="{ 'buchungspunkt-invalid': positionDetailForm.get('auftraggeberOrganisation')?.invalid && positionDetailForm.get('auftraggeberOrganisation')?.touched }"
                >
                  <input matInput formControlName="auftraggeberOrganisation" maxlength="30" class="border" />
                </mat-form-field>
              </div>

              <!-- Ninth Line - Marking Input -->
              <div class="form-row">
                <mat-label class="field-label">Anmerkung</mat-label>
                <mat-form-field appearance="outline" class="form-field">
                  <input matInput formControlName="anmerkung" maxlength="30" class="border" />
                </mat-form-field>
              </div>

              <!-- Tenth Line - Checkbox with Text -->
              <div class="form-row checkbox-row-margin2 bottom-buchung-checkbox">
                <mat-label class="buch-label">Buchungsfreigabe</mat-label>
                <mat-checkbox
                  formControlName="buchungsfreigabe"
                  class="last-checkbox"
                >
                </mat-checkbox>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- ======================= Form for Child Row ======================= -->
      <div
        class="position-details-content position-details-container"
        *ngIf="
          selectedPosition?.typ === 'Dokumentation' ||
          selectedPosition?.typ === 'Buchungspunkt'
        "
      >
        <mat-card>
          <!-- <mat-card-content> -->
          <form [formGroup]="childDetailForm" class="child-detail-form">
            <div class="field-row checkbox-row-margin bottom-aktiv-checkbox">
              <span class="checkbox-text">Aktiv</span>
              <mat-checkbox formControlName="aktiv"></mat-checkbox>
            </div>
            <!-- Buchungspunkt Row -->
            <div class="form-row">
              <mat-label class="field-label">Buchungspunkt:</mat-label>
              <mat-form-field
                appearance="outline"
                [ngClass]="{ 'buchungspunkt-invalid': childDetailForm.get('buchungspunkt')?.invalid && childDetailForm.get('buchungspunkt')?.touched }"
              >
                <input matInput formControlName="buchungspunkt" class="child-input border" maxlength="30" />
              </mat-form-field>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
