<div class="container fade-in">
  <div class="header">
    <div class="left-section">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>

      <!-- Menu -->
      <mat-menu #menu="matMenu" class="custom-menu">
        <button
          mat-menu-item
          *ngFor="let item of menuItems"
          (click)="onMenuOptionSelected(item)"
          class="menu-item"
        >
          <span class="menu-text">{{ item }}</span>
        </button>
      </mat-menu>

      <button mat-raised-button class="neu-button" (click)="addNewPerson()">
        <mat-icon>widgets</mat-icon>
        Neu
      </button>
    </div>
    <div class="center-section">
      <span class="title">Personen</span>
    </div>
    <div class="right-section">
      <button
        mat-icon-button
        type="button"
        class="theme-toggle"
        (click)="themeService.toggle()"
        [attr.aria-label]="(themeService.current$ | async) === 'dark' ? 'Light mode' : 'Dark mode'"
        [matTooltip]="(themeService.current$ | async) === 'dark' ? 'Light mode' : 'Dark mode'"
      >
        <mat-icon>{{ (themeService.current$ | async) === 'dark' ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </button>
      <div class="checkbox-container">
        <mat-checkbox
          class="inkle-inactive"
          [(ngModel)]="showInactive"
          (change)="onCheckboxChange()"
        >
          inkl. inaktive
        </mat-checkbox>
      </div>
      <div class="search-container">
        <input
          type="text"
          placeholder="Suche"
          [(ngModel)]="searchTerm"
          (input)="filterdata()"
          class="search-input"
        />
        <mat-icon class="search-icon">search</mat-icon>
      </div>
    </div>
  </div>
  <div *ngIf="errorMessage && !isLoading" class="error-container">
    <mat-icon>error_outline</mat-icon>
    <span>{{ errorMessage }}</span>
  </div>
  <div class="table-container" #personenTable *ngIf="!isLoading && !errorMessage">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      *ngIf="dataSource?.data?.length">



      <!-- Check Icon Column-->
      <ng-container matColumnDef="iconcheck">
        <th mat-header-cell *matHeaderCellDef class="first-column table-custom"></th>
        <td mat-cell *matCellDef="let element" class="first-column">
          <mat-icon [class]="getIconClass(element)"
                    class="check-icon"
                    [matTooltip]="getTooltipText(element)"
                    matTooltipPosition="above">{{ getActiveIcon(element) }}</mat-icon>
        </td>
      </ng-container>

      <!-- NEW Status Icon Column (Green/Red)  -->
      <ng-container matColumnDef="statusIcon">
        <th mat-header-cell *matHeaderCellDef class="status-icon-column table-custom"></th>
        <td mat-cell *matCellDef="let element" class="status-icon-column">
          <mat-icon [class]="getStatusIconClass(element)">
            {{ getStatusIcon(element) }}
          </mat-icon>
        </td>
      </ng-container>

      <!-- Family Name Column -->
      <ng-container matColumnDef="nachname">
        <th mat-header-cell *matHeaderCellDef class="tablet-custom">
          <div class="sort-header" (click)="toggleSort('nachname')">
            Familienname
            <mat-icon class="sort-arrow">{{ getSortIcon('nachname') }}</mat-icon>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.nachname || '' }}</td>
      </ng-container>

      <!-- First Name Column -->
      <ng-container matColumnDef="vorname">
        <th mat-header-cell *matHeaderCellDef class="tablet-custom">
          <div class="sort-header" (click)="toggleSort('vorname')">
            Vorname
            <mat-icon class="sort-arrow">{{ getSortIcon('vorname') }}</mat-icon>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.vorname || "" }}</td>
      </ng-container>

      <!-- Employee Type Column -->
      <ng-container matColumnDef="mitarbeiterart">
        <th mat-header-cell *matHeaderCellDef class="tablet-custom">
          <div class="sort-header" (click)="toggleSort('mitarbeiterart')">
            Mitarbeiterart
            <mat-icon class="sort-arrow">{{ getSortIcon('mitarbeiterart') }}</mat-icon>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ EnumService.transformMitarbeiterArt(element.mitarbeiterart) || "" }}</td>
      </ng-container>

      <!-- Gesamt Column -->
      <ng-container matColumnDef="gesamt">
        <th mat-header-cell *matHeaderCellDef class="tablet-custom">
          <div class="sort-header" (click)="toggleSort('gesamt')">
            Gesamt
            <mat-icon class="sort-arrow">{{ getSortIcon('gesamt') }}</mat-icon>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.stundenkontingentJaehrlich ?? '' }}</td>
      </ng-container>

      <!-- Geplant Column -->
      <ng-container matColumnDef="geplant">
        <th mat-header-cell *matHeaderCellDef class="tablet-custom">
          <div class="sort-header" (click)="toggleSort('geplant')">
            Geplant
            <mat-icon class="sort-arrow">{{ getSortIcon('geplant') }}</mat-icon>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.stundenGeplantDiesesJahr ?? '' }}</td>
      </ng-container>

      <!-- Gebucht Column -->
      <ng-container matColumnDef="gebucht">
        <th mat-header-cell *matHeaderCellDef class="tablet-custom">
          <div class="sort-header" (click)="toggleSort('gebucht')">
            Gebucht
            <mat-icon class="sort-arrow">{{ getSortIcon('gebucht') }}</mat-icon>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.stundenGebuchtDiesesJahr ?? '' }}</td>
      </ng-container>

      <!-- Geplant 2026 Column -->
      <ng-container matColumnDef="geplant2026">
        <th mat-header-cell *matHeaderCellDef class="tablet-custom">
          <div class="sort-header" (click)="toggleSort('geplant2026')">
            Geplant 2026
            <mat-icon class="sort-arrow">{{ getSortIcon('geplant2026') }}</mat-icon>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.geplant2026 ?? '' }}</td>
      </ng-container>

      <!-- Rolle Column -->
      <ng-container matColumnDef="rolle">
        <th mat-header-cell *matHeaderCellDef class="tablet-custom">
          <div class="sort-header rolle" (click)="toggleSort('rolle')">
            Rolle
            <mat-icon class="sort-arrow">{{ getSortIcon('rolle') }}</mat-icon>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ EnumService.transformMitarbeiterRolle( element.rolle )|| "" }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [class]="getRowClass(row)"
        [class.selected-row]="row.id && row.id === selectedPersonId"
        [attr.data-person-id]="row.id"
        (click)="goToDetails(row)"
        class="list-row"
      ></tr>
    </table>
    <div *ngIf="!dataSource?.data?.length && !isLoading" class="empty-state">
      <mat-icon>info_outline</mat-icon>
      <span>Keine Daten gefunden</span>
    </div>
  </div>
</div>
