<div class="container fade-in">



  <div class="header">
    <div class="left-section">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="attendance-menu" xPosition="after">
        <button mat-menu-item class="menu-item"
                *ngIf="canView"
                (click)="getTelefonListePdf()">
          <i class="mdi mdi-file-pdf-box menu-icon"></i>
          <span>Telefonliste</span>
        </button>

        <button mat-menu-item class="menu-item" (click)="openFilePicker()" *ngIf="canUpload">
          <i class="mdi mdi-file-upload-outline menu-icon"></i>
          <span>Telefonliste hochladen</span>
        </button>
        <button mat-menu-item class="menu-item" (click)="getInfoPdf()" *ngIf="canView">
          <i class="mdi mdi-information-outline menu-icon"></i>
          <span>Informationen</span>
        </button>

        <!-- Test menu items -->
        <button mat-menu-item class="menu-item" (click)="onMenuTestRefresh()">
          <i class="mdi mdi-refresh menu-icon"></i>
          <span>Aktualisieren</span>
        </button>
        <button mat-menu-item class="menu-item" (click)="onMenuTestExport()">
          <i class="mdi mdi-download menu-icon"></i>
          <span>Exportieren</span>
        </button>
        <button mat-menu-item class="menu-item" (click)="onMenuTestSettings()">
          <i class="mdi mdi-cog-outline menu-icon"></i>
          <span>Einstellungen</span>
        </button>
      </mat-menu>


      <!-- Hidden file input -->
      <input
        #fileInput
        type="file"
        accept=".xlsx,.xls"
        (change)="onFileSelected($event)"
        style="display: none"
      />

      <!-- Status message -->
      <div *ngIf="message" class="message" [class.error]="!message.includes('✓')">
        {{ message }}
      </div>

    </div>
    <div class="center-section">
      <span class="title">Anwesenheitsliste</span>
    </div>
    <div class="right-section">

      <div class="search-container">
        <input
          type="text"
          placeholder="Suche"
          [(ngModel)]="searchTerm"
          (input)="filterdata()"
          class="search-input"
        />
        <mat-icon class="search-icon">search</mat-icon>
      </div>
    </div>
  </div>



  <div class="content-area" [class.with-side-menu]="showSideMenu">
    <div
      class="main-content"
      [ngStyle]="{
          width: showSideMenu ? 'calc(100% - 300px)' : '100%',
          transition: 'width 0.3s ease-in-out'
        }"
    >
      <!-- Add this wrapper div for scrolling -->
      <div class="table-container">
        <table
          mat-table
          [dataSource]="filteredData"
          matSort
          (matSortChange)="sortData($event)"
          class="mat-elevation-z8"
        >
          <!-- Icon Column -->
          <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef  class="first-column" (click)="toggleSort('anwesend')"></th>
            <td
              mat-cell
              *matCellDef="let element"
              class="first-column"
              [ngClass]="getIconClass(element)"

            >

              <!--<i class="mdi mdi-18px mdi-account-remove"></i> -->
              <i *ngIf="element.anwesend === 'ABWESEND'" class="mdi mdi-18px mdi-account-remove check-icon"
                 [matTooltip]="getTooltipText(element)"
                 matTooltipPosition="above"
                 matTooltipShowDelay="300">

              </i>

              <i *ngIf="element.anwesend === 'URLAUB'" class="mdi mdi-18px mdi-account-minus check-icon"
                 [matTooltip]="getTooltipText(element)"
                 matTooltipPosition="above"
                 matTooltipShowDelay="300"></i>
              <i *ngIf="element.anwesend === 'ANWESEND'" class="mdi mdi-18px mdi-flip-h mdi-account-plus check-icon-anwesend"
                 [matTooltip]="getTooltipText(element)"
                 matTooltipPosition="above"
                 matTooltipShowDelay="300"></i>
              <i *ngIf="element.anwesend === 'WAR_HEUTE_ANWESEND'" class="mdi mdi-18px mdi-flip-h mdi-account-minus status-war-heute-anwesend"
                 [matTooltip]="getTooltipText(element)"
                 matTooltipPosition="above"
                 matTooltipShowDelay="300"></i>
              <i *ngIf="element.anwesend === 'UNBEKANNT'"
                 [matTooltip]="getTooltipText(element)"
                 matTooltipPosition="above"
                 matTooltipShowDelay="300"
                 class="mdi mdi-18px mdi-account-off check-icon_gray"></i>
              <i *ngIf="element.anwesend === 'KRANKENSTAND'"
                 [matTooltip]="getTooltipText(element)"
                 matTooltipPosition="above"
                 matTooltipShowDelay="300"
                 class="mdi mdi-18px mdi-account-minus check-icon_gray"></i>
            </td>
          </ng-container>

          <!-- Familienname Column -->
          <ng-container matColumnDef="familienname">
            <th mat-header-cell *matHeaderCellDef >
              <div class="sort-header" (click)="toggleSort('nachname')">
                Familienname
                <mat-icon class="sort-arrow">{{ getSortIcon('nachname') }}</mat-icon>
              </div>
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              [ngClass]="getStatusClass(element.anwesend)"
            >
              {{ element.nachname }}
            </td>
          </ng-container>

          <!-- Vorname Column -->
          <ng-container matColumnDef="vorname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Vorname</th>
            <td
              mat-cell
              *matCellDef="let element"
              [ngClass]="getStatusClass(element.anwesend)"
            >
              {{ element.vorname }}
            </td>
          </ng-container>

          <!-- Abwesend bis Column -->
          <ng-container matColumnDef="abwesendBis">
            <th mat-header-cell *matHeaderCellDef>Abwesend bis</th>
            <td
              mat-cell
              *matCellDef="let element"
              [ngClass]="getStatusClass(element.anwesend)"
            >
              {{ createColumnAbwesendBis(element) }}
            </td>
          </ng-container>

          <!-- Mitarbeiterart Column -->
          <ng-container matColumnDef="mitarbeiterart">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Mitarbeiterart
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              [ngClass]="getStatusClass(element.anwesend)"
            >
              {{ getMitarbeiterart(element.mitarbeiterart) }}
            </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>


            <td mat-cell *matCellDef="let element">

              <button *ngIf="element.abwesenheitVorhanden===true" mat-icon-button matTooltip="Abwesenheiten anzeigen" (click)="openDetailDialog(element)">
                <mat-icon>calendar_month</mat-icon>
              </button>


              <button
                mat-icon-button
                *ngIf="element.hasCalendarEntry"
                (click)="openDetailDialog(element)"
                aria-label="Abwesenheitsdetails anzeigen"
              >
                <mat-icon class="calendar-icon">event</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            [ngClass]="{ 'highlighted-row': row.hasCalendarEntry }"
            (click)="row.hasCalendarEntry && openDetailDialog(row)"
          ></tr>
        </table>
      </div>
    </div>

    <div class="side-menu" *ngIf="showSideMenu">
      <div class="side-menu-header">
        <h2>
          {{ sideMenuType === "phone" ? "Telefonliste" : "Informationen" }}
        </h2>
        <button
          mat-icon-button
          (click)="toggleSideMenu(sideMenuType!)"
          aria-label="Schließen"
          class="close-button"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="side-menu-content">
        <!-- Phone list content -->
        <div *ngIf="sideMenuType === 'phone'" class="phone-list">
          <div
            class="phone-list-item"
            *ngFor="let item of filteredData"
            [class.selected]="selectedPerson?.personId === item.personId"
            (click)="callPerson(item, $event)"
          >
            <div class="employee-info">
              <div class="name">
                {{ item.nachname }}, {{ item.vorname }}
              </div>
              <div class="employee-type">{{ item.mitarbeiterart }}</div>
            </div>
            <div class="phone-number">
              <mat-icon class="phone-icon">phone</mat-icon>
              <span>+43 1 234567- </span>
            </div>
            <div class="calling-animation">
              <div class="calling-ripple"></div>
              <mat-icon class="calling-icon">call</mat-icon>
            </div>
          </div>
        </div>

        <!-- Info content -->
        <div *ngIf="sideMenuType === 'info'" class="info-content">
          <h3>Anwendungsinformationen</h3>
          <p>Diese Anwendung zeigt die Anwesenheitsliste aller Mitarbeiter.</p>
          <p>
            <mat-icon class="info-icon">event</mat-icon>
            Klicken Sie auf einen Eintrag mit Kalendersymbol, um Details zur
            Abwesenheit anzuzeigen.
          </p>
          <p>
            <mat-icon class="info-icon">search</mat-icon>
            Verwenden Sie das Suchfeld, um nach Namen oder Mitarbeiterart zu
            filtern.
          </p>
          <p>
            <mat-icon class="info-icon">phone</mat-icon>
            Nutzen Sie die Telefonliste für schnellen Kontakt zu Mitarbeitern.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
